html, body {
  margin: 0;
  background-color: var(--chakra-colors-app-bg);
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  color: var(--chakra-colors-text-primary);
}

a {
  color: inherit;
}
